name: Go Tests

on:
  pull_request:
    branches: [ main ]

jobs:
  gotest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.25

      - name: Install dependencies
        run: go mod download

      - name: Run tests
        run: go test -v ./...
